/* Custom Scrollbar Styles */
::-webkit-scrollbar {
    width: 12px;
    background-color: #f5f5f5;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
    background-color: #F5F5F5;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.44, rgb(6, 182, 212)), color-stop(0.72, rgb(34, 197, 94)), color-stop(0.86, rgb(22, 163, 74)));
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
}

::-webkit-scrollbar-thumb:hover {
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.44, rgb(8, 145, 168)), color-stop(0.72, rgb(22, 163, 74)), color-stop(0.86, rgb(21, 128, 61)));
}

/* For Firefox */
html {
    scrollbar-width: thin;
    scrollbar-color: #2B79D1 #f5f5f5;
}
